
*.iso
.vscode/launch.json
build/ANIM/CUTS.IMG
build/ANIM/PED.IFP
build/AUDIO/CONFIG/BANKLKUP.DAT
build/AUDIO/CONFIG/BANKSLOT.DAT
build/AUDIO/CONFIG/EVENTVOL.DAT
build/AUDIO/CONFIG/PAKFILES.DAT
build/AUDIO/CONFIG/STRMPAKS.DAT
build/AUDIO/CONFIG/TRAKLKUP.DAT
build/AUDIO/PAD
build/AUDIO/SFX/FEET01.PAK
build/AUDIO/SFX/FEET02.PAK
build/AUDIO/SFX/GENRL01.PAK
build/AUDIO/SFX/GENRL02.PAK
build/AUDIO/SFX/PAIN_A01.PAK
build/AUDIO/SFX/PAIN_A02.PAK
build/AUDIO/SFX/SCRIPT01.PAK
build/AUDIO/SFX/SCRIPT02.PAK
build/AUDIO/SFX/SPC_EA01.PAK
build/AUDIO/SFX/SPC_FA01.PAK
build/AUDIO/SFX/SPC_GA01.PAK
build/AUDIO/SFX/SPC_NA01.PAK
build/AUDIO/SFX/SPC_PA01.PAK
build/AUDIO/STREAMS/AA.PAK
build/AUDIO/STREAMS/ADVERTS.PAK
build/AUDIO/STREAMS/AMBIENCE.PAK
build/AUDIO/STREAMS/BEATS.PAK
build/AUDIO/STREAMS/CH.PAK
build/AUDIO/STREAMS/CO.PAK
build/AUDIO/STREAMS/CR.PAK
build/AUDIO/STREAMS/CUTSCENE.PAK
build/AUDIO/STREAMS/DS.PAK
build/AUDIO/STREAMS/HC.PAK
build/AUDIO/STREAMS/MH.PAK
build/AUDIO/STREAMS/MR.PAK
build/AUDIO/STREAMS/NJ.PAK
build/AUDIO/STREAMS/RE.PAK
build/AUDIO/STREAMS/RG.PAK
build/AUDIO/STREAMS/TK.PAK
build/CLOTHES.NM
build/CREDITS.NM
build/CUTSCENE.NM
build/DATA/ANIMGRP.DAT
build/DATA/AR_STATS.DAT
build/DATA/CARCOLS.DAT
build/DATA/CARGRP.DAT
build/DATA/CARMODS.DAT
build/DATA/CLOTHES.DAT
build/DATA/DECISION/ALLOWED/COP.PED
build/DATA/DECISION/ALLOWED/FIREMAN.PED
build/DATA/DECISION/ALLOWED/GANGMBR.PED
build/DATA/DECISION/ALLOWED/INDOORS.PED
build/DATA/DECISION/ALLOWED/M_EMPTY.PED
build/DATA/DECISION/ALLOWED/M_NORM.PED
build/DATA/DECISION/ALLOWED/M_PLYR.PED
build/DATA/DECISION/ALLOWED/M_STEAL.PED
build/DATA/DECISION/ALLOWED/M_TOUGH.PED
build/DATA/DECISION/ALLOWED/M_WEAK.PED
build/DATA/DECISION/ALLOWED/MISSION.GRP
build/DATA/DECISION/ALLOWED/R_NORM.PED
build/DATA/DECISION/ALLOWED/R_TOUGH.PED
build/DATA/DECISION/ALLOWED/R_WEAK.PED
build/DATA/DECISION/ALLOWED/RANDOM.GRP
build/DATA/DECISION/ALLOWED/RANDOM.PED
build/DATA/DECISION/ALLOWED/RANDOM2.GRP
build/DATA/DECISION/PEDEVENT.TXT
build/DATA/DEFAULT.DAT
build/DATA/DEFAULT.IDE
build/DATA/FONTS.DAT
build/DATA/FURNITUR.DAT
build/DATA/GRIDREF.DAT
build/DATA/GTA.DAT
build/DATA/HANDLING.CFG
build/DATA/ICONS/SAICON.ICN
build/DATA/ICONS/SAICON2.ICN
build/DATA/ICONS/SAICON3.ICN
build/DATA/INFO.ZON
build/DATA/MAP.ZON
build/DATA/MAPS/AUDIOZON.IPL
build/DATA/MAPS/COUNTRY/COUNTN2.IDE
build/DATA/MAPS/COUNTRY/COUNTN2.IPL
build/DATA/MAPS/COUNTRY/COUNTRYE.IDE
build/DATA/MAPS/COUNTRY/COUNTRYE.IPL
build/DATA/MAPS/COUNTRY/COUNTRYN.IDE
build/DATA/MAPS/COUNTRY/COUNTRYN.IPL
build/DATA/MAPS/COUNTRY/COUNTRYS.IDE
build/DATA/MAPS/COUNTRY/COUNTRYS.IPL
build/DATA/MAPS/COUNTRY/COUNTRYW.IDE
build/DATA/MAPS/COUNTRY/COUNTRYW.IPL
build/DATA/MAPS/COUNTRY/COUNXREF.IDE
build/DATA/MAPS/CULL.IPL
build/DATA/MAPS/GENERIC/BARRIERS.IDE
build/DATA/MAPS/GENERIC/DYNAMIC.IDE
build/DATA/MAPS/GENERIC/DYNAMIC2.IDE
build/DATA/MAPS/GENERIC/MULTIOBJ.IDE
build/DATA/MAPS/GENERIC/PROCOBJ.IDE
build/DATA/MAPS/GENERIC/VEGEPART.IDE
build/DATA/MAPS/INTERIOR/GEN_INT1.IDE
build/DATA/MAPS/INTERIOR/GEN_INT1.IPL
build/DATA/MAPS/INTERIOR/GEN_INT2.IDE
build/DATA/MAPS/INTERIOR/GEN_INT2.IPL
build/DATA/MAPS/INTERIOR/GEN_INT3.IDE
build/DATA/MAPS/INTERIOR/GEN_INT3.IPL
build/DATA/MAPS/INTERIOR/GEN_INT4.IDE
build/DATA/MAPS/INTERIOR/GEN_INT4.IPL
build/DATA/MAPS/INTERIOR/GEN_INT5.IDE
build/DATA/MAPS/INTERIOR/GEN_INT5.IPL
build/DATA/MAPS/INTERIOR/GEN_INTB.IDE
build/DATA/MAPS/INTERIOR/GEN_INTB.IPL
build/DATA/MAPS/INTERIOR/INT_CONT.IDE
build/DATA/MAPS/INTERIOR/INT_CONT.IPL
build/DATA/MAPS/INTERIOR/INT_LA.IDE
build/DATA/MAPS/INTERIOR/INT_LA.IPL
build/DATA/MAPS/INTERIOR/INT_SF.IDE
build/DATA/MAPS/INTERIOR/INT_SF.IPL
build/DATA/MAPS/INTERIOR/INT_VEG.IDE
build/DATA/MAPS/INTERIOR/INT_VEG.IPL
build/DATA/MAPS/INTERIOR/PROPEXT.IDE
build/DATA/MAPS/INTERIOR/PROPS.IDE
build/DATA/MAPS/INTERIOR/PROPS2.IDE
build/DATA/MAPS/INTERIOR/SAVEHOUS.IDE
build/DATA/MAPS/INTERIOR/SAVEHOUS.IPL
build/DATA/MAPS/INTERIOR/STADINT.IDE
build/DATA/MAPS/INTERIOR/STADINT.IPL
build/DATA/MAPS/LA/LAE.IDE
build/DATA/MAPS/LA/LAE.IPL
build/DATA/MAPS/LA/LAE2.IDE
build/DATA/MAPS/LA/LAE2.IPL
build/DATA/MAPS/LA/LAHILLS.IDE
build/DATA/MAPS/LA/LAHILLS.IPL
build/DATA/MAPS/LA/LAN.IDE
build/DATA/MAPS/LA/LAN.IPL
build/DATA/MAPS/LA/LAN2.IDE
build/DATA/MAPS/LA/LAN2.IPL
build/DATA/MAPS/LA/LAS.IDE
build/DATA/MAPS/LA/LAS.IPL
build/DATA/MAPS/LA/LAS2.IDE
build/DATA/MAPS/LA/LAS2.IPL
build/DATA/MAPS/LA/LAW.IDE
build/DATA/MAPS/LA/LAW.IPL
build/DATA/MAPS/LA/LAW2.IDE
build/DATA/MAPS/LA/LAW2.IPL
build/DATA/MAPS/LA/LAWN.IDE
build/DATA/MAPS/LA/LAWN.IPL
build/DATA/MAPS/LA/LAXREF.IDE
build/DATA/MAPS/LEVELDES/LEVELMAP.IDE
build/DATA/MAPS/LEVELDES/LEVELMAP.IPL
build/DATA/MAPS/LEVELDES/LEVELXRE.IDE
build/DATA/MAPS/LEVELDES/SEABED.IDE
build/DATA/MAPS/LEVELDES/SEABED.IPL
build/DATA/MAPS/OCCLUINT.IPL
build/DATA/MAPS/OCCLULA.IPL
build/DATA/MAPS/OCCLUSF.IPL
build/DATA/MAPS/OCCLUVEG.IPL
build/DATA/MAPS/PATHS.IPL
build/DATA/MAPS/PATHS2.IPL
build/DATA/MAPS/PATHS3.IPL
build/DATA/MAPS/PATHS4.IPL
build/DATA/MAPS/PATHS5.IPL
build/DATA/MAPS/SF/SFE.IDE
build/DATA/MAPS/SF/SFE.IPL
build/DATA/MAPS/SF/SFN.IDE
build/DATA/MAPS/SF/SFN.IPL
build/DATA/MAPS/SF/SFS.IDE
build/DATA/MAPS/SF/SFS.IPL
build/DATA/MAPS/SF/SFSE.IDE
build/DATA/MAPS/SF/SFSE.IPL
build/DATA/MAPS/SF/SFW.IDE
build/DATA/MAPS/SF/SFW.IPL
build/DATA/MAPS/SF/SFXREF.IDE
build/DATA/MAPS/TUNNELS.IPL
build/DATA/MAPS/TXD.IDE
build/DATA/MAPS/VEGAS/VEGASE.IDE
build/DATA/MAPS/VEGAS/VEGASE.IPL
build/DATA/MAPS/VEGAS/VEGASN.IDE
build/DATA/MAPS/VEGAS/VEGASN.IPL
build/DATA/MAPS/VEGAS/VEGASS.IDE
build/DATA/MAPS/VEGAS/VEGASS.IPL
build/DATA/MAPS/VEGAS/VEGASW.IDE
build/DATA/MAPS/VEGAS/VEGASW.IPL
build/DATA/MAPS/VEGAS/VEGAXREF.IDE
build/DATA/MAPS/VEH_MODS/VEH_MODS.IDE
build/DATA/MELEE.DAT
build/DATA/NUMPLATE.DAT
build/DATA/OBJECT.DAT
build/DATA/PATHS/CARREC.IMG
build/DATA/PATHS/ROADBLOX.DAT
build/DATA/PATHS/TRACKS.DAT
build/DATA/PATHS/TRACKS2.DAT
build/DATA/PATHS/TRACKS3.DAT
build/DATA/PATHS/TRACKS4.DAT
build/DATA/PED.DAT
build/DATA/PEDGRP.DAT
build/DATA/PEDS.IDE
build/DATA/PEDSTATS.DAT
build/DATA/PLANTS.DAT
build/DATA/POPCYCLE.DAT
build/DATA/PROCOBJ.DAT
build/DATA/SCRIPT/MAIN.SCM
build/DATA/SCRIPT/SCRIPT.IMG
build/DATA/SHOPPING.DAT
build/DATA/STATDISP.DAT
build/DATA/SURFACE.DAT
build/DATA/SURFAUD.DAT
build/DATA/SURFINFO.DAT
build/DATA/TIMECYC.DAT
build/DATA/TIMECYCP.DAT
build/DATA/TXDCUT.IDE
build/DATA/VEHICLES.IDE
build/DATA/WATER.DAT
build/DATA/WATER1.DAT
build/DATA/WEAPON.DAT
build/FILELOAD.NM
build/INIT.NM
build/intro/VLOAD.RGM
build/intro/VLOGOS.RGM
build/JPEG.NM
build/MC.NM
build/MODELS/CINFO.BIN
build/MODELS/COLL/PEDS.COL
build/MODELS/COLL/WEAPONS.COL
build/MODELS/CUTSCENE.IMG
build/MODELS/EFFECTS.FXP
build/MODELS/EFFECTS.TXD
build/MODELS/FONTS.TXD
build/MODELS/FRONTEN1.TXD
build/MODELS/FRONTEN2.TXD
build/MODELS/FRONTEN3.TXD
build/MODELS/GENERIC/AIR_VLO.DFF
build/MODELS/GENERIC/ARROW.DFF
build/MODELS/GENERIC/HOOP.DFF
build/MODELS/GENERIC/VEHICLE.TXD
build/MODELS/GENERIC/ZONECYLB.DFF
build/MODELS/GRASS/GRASS0_1.DFF
build/MODELS/GRASS/GRASS0_2.DFF
build/MODELS/GRASS/GRASS0_3.DFF
build/MODELS/GRASS/GRASS0_4.DFF
build/MODELS/GRASS/GRASS1_1.DFF
build/MODELS/GRASS/GRASS1_2.DFF
build/MODELS/GRASS/GRASS1_3.DFF
build/MODELS/GRASS/GRASS1_4.DFF
build/MODELS/GRASS/GRASS2_1.DFF
build/MODELS/GRASS/GRASS2_2.DFF
build/MODELS/GRASS/GRASS2_3.DFF
build/MODELS/GRASS/GRASS2_4.DFF
build/MODELS/GRASS/GRASS3_1.DFF
build/MODELS/GRASS/GRASS3_2.DFF
build/MODELS/GRASS/GRASS3_3.DFF
build/MODELS/GRASS/GRASS3_4.DFF
build/MODELS/GTA3.IMG
build/MODELS/GTA3_1.IMG
build/MODELS/GTA_INT.IMG
build/MODELS/HUD.TXD
build/MODELS/MINFO.BIN
build/MODELS/PARTICLE.TXD
build/MODELS/PLAYER.IMG
build/MODELS/PS2BTNS.TXD
build/MODELS/TXD/INTRO1.TXD
build/MODELS/TXD/INTRO2.TXD
build/MODELS/TXD/INTRO3.TXD
build/MODELS/TXD/INTRO4.TXD
build/MODELS/TXD/LD_BEAT.TXD
build/MODELS/TXD/LD_BUM.TXD
build/MODELS/TXD/LD_CARD.TXD
build/MODELS/TXD/LD_CHAT.TXD
build/MODELS/TXD/LD_DRV.TXD
build/MODELS/TXD/LD_GRAV.TXD
build/MODELS/TXD/LD_NONE.TXD
build/MODELS/TXD/LD_OTB.TXD
build/MODELS/TXD/LD_OTB2.TXD
build/MODELS/TXD/LD_PLAN.TXD
build/MODELS/TXD/LD_POKE.TXD
build/MODELS/TXD/LD_POOL.TXD
build/MODELS/TXD/LD_RCE1.TXD
build/MODELS/TXD/LD_RCE2.TXD
build/MODELS/TXD/LD_RCE3.TXD
build/MODELS/TXD/LD_RCE4.TXD
build/MODELS/TXD/LD_RCE5.TXD
build/MODELS/TXD/LD_ROUL.TXD
build/MODELS/TXD/LD_SHTR.TXD
build/MODELS/TXD/LD_SLOT.TXD
build/MODELS/TXD/LD_SPAC.TXD
build/MODELS/TXD/LD_TATT.TXD
build/MODELS/TXD/LOADSCS.TXD
build/MODELS/TXD/SPLASH1.TXD
build/MODELS/TXD/SPLASH2.TXD
build/MPEG.NM
build/SLUS_209.46
build/STREAM.INI
build/SYSTEM.CNF
build/SYSTEM/CDSTREAM.IRX
build/SYSTEM/IOPAUDIO.IRX
build/SYSTEM/IOPRP300.IMG
build/SYSTEM/LIBSD.IRX
build/SYSTEM/MCMAN.IRX
build/SYSTEM/MCSERV.IRX
build/SYSTEM/PADMAN.IRX
build/SYSTEM/SDRDRV.IRX
build/SYSTEM/SIO2MAN.IRX
build/TEXT/AMERICAN.GXT
build/DATA/MAPS/BILLROLL.IPL
build/MODELS/GRASS/plant1.dff
build/MODELS/GRASS/plant1.txd
build/MODELS/TXD/VHUD.TXD
build/MODELS/TXD/vphone.txd
build/TEXT/AMERICAN.INI
*.uibak
build/DATA/SCRIPT/BlurOnExplosion.txt
build/DATA/SCRIPT/PolmavBlipsAndPassenger.txt
